// @import "~@coreui/icons/scss/free/free-icons";
 blockquote{
    width: 60%;
    color: #555555;
    padding: 1.2em 21px 1.2em 20px;
    border-left: 3px solid #dadada;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}